/vendor
/.idea
/.vscode
/.vagrant
.phpunit.result.cache
.php_cs
.phplint-cache
.php_cs.cache
.php-cs-fixer.cache
build/
coverage/
clover.xml
phpunit.xml
psalm.xml
tests.php
.DS_Store
.history/
storage/logs/