.build/
.history/
.idea/
tests/Browser/Screenshots/
vendor/

/vendor-bin/*/*
!/vendor-bin/*/composer.json
/resources/require/*
!/resources/require/composer.json

*.tinker.php
.DS_Store
.env
.php-cs-fixer.php
/*.zip
/laravel
/tests.*
composer.require.json
#composer.lock
phpbench.json
phpstan.neon
phpunit.xml
