.build/
.history/
.idea/
.vagrant/
.vscode/
node_modules/
vendor/

.DS_Store
.php-cs-fixer.cache
.phpunit.result.cache
clover.xml
phpunit.xml
psalm.xml
cghooks.lock

/*.zip
/.ai-commit.json
/.env
/laravel
/storage/logs/*.log
/tests.*
/vendor-bin/*/composer-updater
/vendor-bin/*/composer.lock
