parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method pipe\\(\\) on int\\.$#"
			count: 1
			path: app/Commands/MusicCommand.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),array\\<int\\|string\\|null\\>\\>\\:\\:transform\\(\\) expects callable\\(array\\<int\\|string\\|null\\>, int\\|string\\)\\: array\\<int\\|string\\|null\\>, Closure\\(array\\)\\: string given\\.$#"
			count: 1
			path: app/Commands/MusicCommand.php

		-
			message: "#^Parameter \\#2 \\$options of function Laravel\\\\Prompts\\\\multiselect expects array\\<int\\|string, string\\>\\|Illuminate\\\\Support\\\\Collection\\<int\\|string, string\\>, array\\<array\\<int\\|string\\|null\\>\\> given\\.$#"
			count: 1
			path: app/Commands/MusicCommand.php

		-
			message: "#^Parameter \\#3 \\$default of function Laravel\\\\Prompts\\\\multiselect expects array\\<int\\|string\\>\\|Illuminate\\\\Support\\\\Collection\\<int, int\\|string\\>, array\\{array\\<int\\|string\\|null\\>\\|null\\} given\\.$#"
			count: 1
			path: app/Commands/MusicCommand.php

		-
			message: "#^Match expression does not handle remaining values\\: 'BSD'\\|'Solaris'\\|'Unknown'$#"
			count: 1
			path: app/Commands/ThanksCommand.php
