<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    verbose="true"
    printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printer"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <coverage>
    <include>
      <directory suffix=".php">app/</directory>
    </include>
    <exclude>
      <file>src/Skeleton.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Guanguans Test Suite">
      <directory>tests/</directory>
      <exclude>vendor/</exclude>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
      <arguments>
        <array>
          <element key="slowThreshold">
            <integer>500</integer>
          </element>
          <element key="reportLength">
            <integer>10</integer>
          </element>
          <element key="stopOnSlow">
            <boolean>false</boolean>
          </element>
        </array>
      </arguments>
    </listener>
  </listeners>
</phpunit>
