<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory>src/Command</directory>
                <directory>src/Console</directory>
                <directory>src/Contract</directory>
                <directory>src/Exception</directory>
                <directory>src/Support</directory>
                <file>src/Config.php</file>
                <file>src/Helpers.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="coverage.text"/>
    </logging>
</phpunit>
