<?xml version="1.0" encoding="UTF-8"?>
<psalm
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="https://getpsalm.org/schema/config"
  cacheDirectory="./build/psalm/"
  errorBaseline="psalm-baseline.xml"
  errorLevel="4"
  findUnusedBaselineEntry="true"
  findUnusedCode="false"
  findUnusedVariablesAndParams="true"
  xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
  <projectFiles>
    <directory name="app"/>
    <ignoreFiles allowMissingFiles="true">
      <directory name="vendor"/>
      <file name="src/UpdateHelper.php"/>
    </ignoreFiles>
  </projectFiles>

  <issueHandlers>
    <PropertyNotSetInConstructor errorLevel="info"/>
    <UnusedVariable>
      <errorLevel type="suppress">
        <file name="app/Commands/MusicCommand.php"/>
      </errorLevel>
    </UnusedVariable>
  </issueHandlers>
  <plugins>
    <!--<pluginClass class="Psalm\LaravelPlugin\Plugin"/>-->
  </plugins>
</psalm>
