# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Variable \$keys on left side of \?\?\= is never defined\.$#'
            count: 1
            path: ../app/Support/helpers.php
